<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <img src="" alt="">
  <p>안녕하세요 <a href="https://kickin.kr">kickin.kr</a>입니다!</p>
  <p>{{ user }} 에 대해 kickin.kr 으로부터 이메일을 인증이 전송되었습니다.</p>
  <p>{{ activate_url }}</p>
  <p>kickin.kr 서비스를 이용해 주셔서 감사합니다!</p>
  <br><br>
  <p style="text-align:center">
    <strong>
      이메일 인증에 문제가 있으시거나, 별도 문의 사항이 있으신 경우 kickin@kickin.kr 로 문의해 주세요. <br><br>
      감사합니다.
    </strong>
  </p>
</body>
</html>