{% load static %}
<nav class="navbar navbar-dark bg-dark sticky-top mb-2">
  <div class="container-fluid">
    <a href="{% url 'sneakers:index' %}">
      <img class="main-logo" src="{% static 'cslogo.png' %}" alt="">
    </a>
    <a class="navbar-brand ps-0 font-weight-bold navTitle" href="{% url 'sneakers:index' %}">Culture Supply <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-battery-charging" viewBox="0 0 16 16">
      <path d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z"/>
      <path d="M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/>
      <path d="M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z"/>
      <path d="M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z"/>
    </svg></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
        <a href="{% url 'sneakers:index' %}" class="text-decoration-none text-dark">
          Culture Supply
        </a>
        </h5>


    <div style="padding-left: 10px;" class="text-center ">
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          {% if user.profile_img %}
          <img src="{{ user.profile_img.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
          {% else %}
          <img src="/media/user.png" alt="" width="32" height="32" class="rounded-circle me-2">
          {% endif %}
          <strong>{{ user.username}}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">New Raffle...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:userUpdate' %}">Profile</a></li>
          {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
        </ul>
      </div>
    </div>
      <div>
        <form action="{% url 'accounts:logout' %}" method="post" >
          {% csrf_token %}
          <input type="submit" value="logout" class = "loginoutBtn">
        </form>
        {% else %}
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'accounts:login' %}" class="text-decoration-none text-black">Login</a> </button>
        <button class="btn btn-sm btn-outline-secondary" type="button"><a href="{% url 'accounts:signup' %}" class="text-decoration-none text-black">Sign Up</a> </button>
        {% endif %}
      </div>
        <form class=" justify-content-start-100 justify-content-start ">
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="{% url 'sneakers:index' %}">Sneakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="#">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'articles:index' %}">Community</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Raffles
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Raffle Calendar</a></li>
              <li><a class="dropdown-item" href="#">Domestic</a></li>
              <li><a class="dropdown-item" href="#">International</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">My Raffle History </a></li>
            </ul>
          </li>
          <li>
            <a class="nav-link active text-black-50 text-center" aria-current="page" href="#">About Culture Supply</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>




<!-- login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <img class="main-logo" id ="loginModalImg" src="{% static 'cslogo.png' %}" alt="">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--login form -->
        <form action="{% url 'accounts:login' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control-plaintext" id="staticEmail" placeholder="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <input type="submit" class="btn btn-primary" value="Login">
        </div>
      </form>
      </div>
  </div>
</div>
<script>
</script>